<div class="dashboard-main-wrapper">
    <div class="dashboard-body">

       
        <div class="card">
            <div class="card-header border-bottom border-gray-100 flex-align gap-8">
                <h5 class="mb-0">Request services</h5>
                <button type="button" class="text-main-600 text-md d-flex" data-bs-toggle="tooltip"
                    data-bs-placement="top" data-bs-title="Course Details">
                    <i class="ph-fill ph-question"></i>
                </button>
            </div>
            <div class="card-body">
                <form action="">
                    <div class="row gy-20">
                        
                        <div class="col-xxl-9 col-md-8 col-sm-7">
                            <div class="row g-20">
                                <div class="col-sm-4">
                                    <label for="courseTitle" class="h5 mb-8 fw-semibold font-heading">Name company
                                        <span class="text-13 text-gray-400 fw-medium">(Required)</span> </label>
                                    <div class="position-relative">
                                        <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                                            maxlength="100" id="courseTitle" placeholder=".">
                                        <div
                                            class="text-gray-400 position-absolute inset-inline-end-0 top-50 translate-middle-y me-16">
                                           <!--  <span id="current">18</span>
                                            <span id="maximum">/ 100</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="courseTitle2" class="h5 mb-8 fw-semibold font-heading">Contact name
                                        <span class="text-13 text-gray-400 fw-medium">(Required)</span> </label>
                                    <div class="position-relative">
                                        <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                                            maxlength="100" id="courseTitle2" placeholder=".">
                                        <div
                                            class="text-gray-400 position-absolute inset-inline-end-0 top-50 translate-middle-y me-16">
                                           <!--  <span id="current">18</span>
                                            <span id="maximum">/ 100</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="courseTitle3" class="h5 mb-8 fw-semibold font-heading">Billing address street
                                        <span class="text-13 text-gray-400 fw-medium">(Required)</span> </label>
                                    <div class="position-relative">
                                        <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                                            maxlength="100" id="courseTitle3" placeholder=".">
                                        <div
                                            class="text-gray-400 position-absolute inset-inline-end-0 top-50 translate-middle-y me-16">
                                           <!--  <span id="current">18</span>
                                            <span id="maximum">/ 100</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="courseTitle4" class="h5 mb-8 fw-semibold font-heading">City, State/ Province, Country, Zip code
                                        <span class="text-13 text-gray-400 fw-medium">(Required)</span> </label>
                                    <div class="position-relative">
                                        <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                                            maxlength="100" id="courseTitle4" placeholder=".">
                                        <div
                                            class="text-gray-400 position-absolute inset-inline-end-0 top-50 translate-middle-y me-16">
                                           <!--  <span id="current">18</span>
                                            <span id="maximum">/ 100</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="courseTitle5" class="h5 mb-8 fw-semibold font-heading">Mobile 
                                        <span class="text-13 text-gray-400 fw-medium">(Required)</span> </label>
                                    <div class="position-relative">
                                        <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                                            maxlength="100" id="courseTitle5" placeholder=".">
                                        <div
                                            class="text-gray-400 position-absolute inset-inline-end-0 top-50 translate-middle-y me-16">
                                           <!--  <span id="current">18</span>
                                            <span id="maximum">/ 100</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="courseTitle6" class="h5 mb-8 fw-semibold font-heading">Email
                                        <span class="text-13 text-gray-400 fw-medium">(Required)</span> </label>
                                    <div class="position-relative">
                                        <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                                            maxlength="100" id="courseTitle6" placeholder=".">
                                        <div
                                            class="text-gray-400 position-absolute inset-inline-end-0 top-50 translate-middle-y me-16">
                                           <!--  <span id="current">18</span>
                                            <span id="maximum">/ 100</span> -->
                                        </div>
                                    </div>
                                </div>
                                <h3>Finance contact</h3>
                                <div class="col-sm-3">
                                    <label for="courseTitle7" class="h5 mb-8 fw-semibold font-heading">Position
                                        <span class="text-13 text-gray-400 fw-medium">(Required)</span> </label>
                                    <div class="position-relative">
                                        <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                                            maxlength="100" id="courseTitle7" placeholder=".">
                                        <div
                                            class="text-gray-400 position-absolute inset-inline-end-0 top-50 translate-middle-y me-16">
                                           <!--  <span id="current">18</span>
                                            <span id="maximum">/ 100</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="courseTitle8" class="h5 mb-8 fw-semibold font-heading">Contact number
                                        <span class="text-13 text-gray-400 fw-medium">(Required)</span> </label>
                                    <div class="position-relative">
                                        <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                                            maxlength="100" id="courseTitle8" placeholder=".">
                                        <div
                                            class="text-gray-400 position-absolute inset-inline-end-0 top-50 translate-middle-y me-16">
                                           <!--  <span id="current">18</span>
                                            <span id="maximum">/ 100</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="courseTitle9" class="h5 mb-8 fw-semibold font-heading">Email addres
                                        <span class="text-13 text-gray-400 fw-medium">(Required)</span> </label>
                                    <div class="position-relative">
                                        <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                                            maxlength="100" id="courseTitle9" placeholder=".">
                                        <div
                                            class="text-gray-400 position-absolute inset-inline-end-0 top-50 translate-middle-y me-16">
                                           <!--  <span id="current">18</span>
                                            <span id="maximum">/ 100</span> -->
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="flex-align justify-content-end gap-8">
                            <a  class="btn btn-outline-main rounded-pill py-9">Cancel</a>
                            <a  class="btn btn-main rounded-pill py-9">Save</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Course Tab End -->
    </div>
</div>