<app-sidebar *ngIf="global.activeRoute !== 'register' && global.activeRoute !== 'login'"></app-sidebar>
<app-top-navbar *ngIf="global.activeRoute !== 'register' && global.activeRoute !== 'login'"></app-top-navbar>
<app-home [hidden]="global.activeRoute!='home'"></app-home>
<app-register [hidden]="global.activeRoute!='register'"></app-register>
<app-login [hidden]="global.activeRoute!='login'"></app-login>
<app-form-request [hidden]="global.activeRoute!='form-request'"></app-form-request>
<app-products [hidden]="global.activeRoute!='products'"></app-products>
<app-employees [hidden]="global.activeRoute!='employees'"></app-employees>
<app-cash [hidden]="global.activeRoute!='cash'"></app-cash>
<app-contabilidad [hidden]="global.activeRoute!='contabilidad'"></app-contabilidad>
<app-new-category-modal [hidden]="global.activeRoute!='new-category-modal'"></app-new-category-modal>
<app-barcode [hidden]="global.activeRoute!='barcode'"></app-barcode>