.fecha-hora {
    font-size: 1.1rem;
    color: #666;
}

.hora {
    font-weight: bold;
}

input[name="search"] {
    width: 150%; /* Asegúrate de que el campo ocupe todo el ancho */
}

@media (max-width: 576px) {
    input[name="search"] {
        width: 100%; /* Asegúrate de que el campo ocupe todo el ancho en móviles */
    }
}