<div class="dashboard-main-wrapper">
  <div class="dashboard-body">
    <div class="card">
      <div class="card-header border-bottom border-gray-100 flex-align gap-8">
        <h5 class="mb-0">Work Instructions</h5>
        <button type="button" class="text-main-600 text-md d-flex" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Solicitud de trabajo">
          <i class="ph-fill ph-question"></i>
        </button>
      </div>
      <div class="card-body">
        <form [formGroup]="workInstructionsForm" (ngSubmit)="onSubmit()">
          <div class="row gy-20">
            <div class="col-xxl-9 col-md-8 col-sm-7">
              <div class="row g-20">
                <h3>Company information</h3>
                <div class="col-sm-4">
                  <label for="companyName" class="h5 mb-8 fw-semibold font-heading">Name company
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="companyName" maxlength="100" id="companyName" placeholder=".">
                  </div>
                </div>

                <div class="col-sm-4">
                  <label for="contactName" class="h5 mb-8 fw-semibold font-heading">Contact name
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="contactName" maxlength="100" id="contactName" placeholder=".">
                  </div>
                </div>
                <div class="col-sm-4">
                  <label for="customer" class="h5 mb-8 fw-semibold font-heading">Customer
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="customer" maxlength="100" id="customer" placeholder=".">
                  </div>
                </div>

                <div class="col-sm-4">
                  <label for="billingAddress" class="h5 mb-8 fw-semibold font-heading">Billing address street
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="billingAddress" maxlength="100" id="billingAddress" placeholder=".">
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="cityStateCountryZip" class="h5 mb-8 fw-semibold font-heading">City, State/ Province, Country, Zip code
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="cityStateCountryZip" maxlength="100" id="cityStateCountryZip" placeholder=".">
                  </div>
                </div>

                <div class="col-sm-3">
                  <label for="mobile" class="h5 mb-8 fw-semibold font-heading">Mobile
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="number" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="mobile" maxlength="100" id="mobile" placeholder=".">
                  </div>
                </div>

                <div class="col-sm-3">
                  <label for="email" class="h5 mb-8 fw-semibold font-heading">Email
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="email" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="email" maxlength="100" id="email" placeholder=".">
                  </div>
                </div>
                <div class="col-sm-3">
                  <label for="numberOfControl" class="h5 mb-8 fw-semibold font-heading">No of control
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="numberOfControl" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="numberOfControl" maxlength="100" id="numberOfControl" placeholder=".">
                  </div>
                </div>
                <div class="col-sm-3">
                  <label for="area" class="h5 mb-8 fw-semibold font-heading">Area
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="area" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="area" maxlength="100" id="area" placeholder=".">
                  </div>
                </div>
                <div class="col-sm-3">
                  <label for="partNumber" class="h5 mb-8 fw-semibold font-heading">Part number
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="partNumber" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="partNumber" maxlength="100" id="partNumber" placeholder=".">
                  </div>
                </div>
                <div class="col-sm-3">
                  <label for="operation" class="h5 mb-8 fw-semibold font-heading">Operation
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="operation" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="operation" maxlength="100" id="operation" placeholder=".">
                  </div>
                </div>

                <h3>Assignee supervisor</h3>

                <div class="col-sm-6">
                  <label for="supervisorId" class="h5 mb-8 fw-semibold font-heading">Supervisor
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  supervisors<div class="position-relative">
                      <select id="supervisorId" 
                             formControlName="supervisorId"
                             class="form-select py-9 placeholder-13 text-15">
                          <option value="" disabled selected>Select supervisor</option>
                          <option *ngFor="let supervisor of realtimeSupervisors.supervisors$ | async" 
                                  [value]="supervisor.id">
                            {{supervisor.name}} 
                          </option>
                      </select>
                  </div>
                </div>

                <h3>Finance contact</h3>

                <div class="col-sm-3">
                  <label for="financeContactPosition" class="h5 mb-8 fw-semibold font-heading">Position
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="financeContactPosition" maxlength="100" id="financeContactPosition" placeholder=".">
                  </div>
                </div>

                <div class="col-sm-3">
                  <label for="financeContactNumber" class="h5 mb-8 fw-semibold font-heading">Contact number
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="text" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="financeContactNumber" maxlength="100" id="financeContactNumber" placeholder=".">
                  </div>
                </div>

                <div class="col-sm-3">
                  <label for="financeEmail" class="h5 mb-8 fw-semibold font-heading">Email address
                    <span class="text-13 text-gray-400 fw-medium">(Required)</span>
                  </label>
                  <div class="position-relative">
                    <input type="email" class="text-counter placeholder-13 form-control py-11 pe-76"
                      formControlName="financeEmail" maxlength="100" id="financeEmail" placeholder=".">
                  </div>
                </div>

              </div>
            </div>
            <div class="flex-align justify-content-end gap-8">
               <button type="button" class="btn btn-outline-main rounded-pill py-9" (click)="workInstructionsForm.reset()">Cancel</button>
              <button type="submit" class="btn btn-main rounded-pill py-9" [disabled]="workInstructionsForm.invalid">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
